@import 'main';

:root {
	--toastify-color-light: #{$light-alt};
	--toastify-color-dark: #{$dark-alt};
	--toastify-color-info: #{$info-alt};
	--toastify-color-success: #{$success-alt};
	--toastify-color-warning: #{$warning-alt};
	--toastify-color-error: #{$danger-alt};
}